* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    background: #ededed;
}

header {
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

p {
    word-spacing: 4px;
    line-height: 1.7;
    margin-bottom: 0;
}

.container-fluid {
    padding: 0 5%;
}

.navbar-brand {
    font-size: 2rem;
    color: #4C6A2E;
    font-weight: 600;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-underline {
    gap: 40px;
}

.nav-link {
    font-weight: 600;
    font-size: 14px;
    color: black;
}

.hero {
    background-image: url(/image/mainbackground.png);
    height: 100dvh;
    position: relative;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.hero-content {
    position: absolute;
    bottom: 30%;
    text-align: center;
    max-width: 620px;
    justify-self: center
}

.main-heading {
    color: #4C6A2E;
    font-weight: 600;
    font-size: 4rem;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

.btns a {
    background: #4C6A2E;
    padding: 14px 20px;
    color: white;
    transition: .3s;
}

.btns a:hover {
    background: #34481f;
}

.btns button {
    padding: 10px 35px;
    background: transparent;
    border: 1px solid black;
    transition: .3s;
}

.btns button:hover {
    background: black;
    color: white;
    border-color: black;
}

.cult .container {
    padding: 100px 12px;
}

.cult-heading {
    color: #4C6A2E;
    font-weight: 600;
}

.cult-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.cult-product {
    min-height: 400px;
    width: 350px;
}

.card {
    border: none;
    transition: .3s ease;
}

.scale {
    padding: 15px;
}

.scale:hover {
    transform: scale(1.03);
}

.row {
    margin-top: 5px;
}

.card-img-top {
    height: 300px;
    object-fit: cover;

}

.card-body {
    padding: 16px 0px;
}

.card-title,
.card-footer big,
.card-footer small {
    color: black;
    font-weight: 600;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
}

.quiz .container {
    padding: 0px 12px 100px 12px;
}

.quiz-heading {
    font-weight: 600;
    color: black;
    text-align: center;
}

.quiz .row {
    justify-content: center;
}

.quiz-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 63%;
    gap: 20px;
}

.quiz-col .card {
    text-align: center;
    justify-self: center;
    border: 1px solid #ded1d1;
    padding: 20px;
}

.card-header i {
    font-size: 30px;
    color: #4C6A2E;
}

.answer-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
    align-items: center;
}

.back-button {
    border: none;
    background: transparent;
}

.next-button {
    background-color: #4C6A2E;
    padding: 8px 15px;
    border: 1px solid #4C6A2E;
    color: white;
    transition: .3s;
}

.next-button:hover {
    background-color: #34481f;
}

@media(max-width:991px) {
    .quiz .col {
        width: 100%;
    }
}

@media(max-width:768px) {

    .cult-heading,
    .cult-para {
        text-align: center;
    }

    .quiz-col {
        grid-template-columns: 1fr;
    }
}

@media(max-width:480px) {
    .answer-button {
        flex-direction: column;
        gap: 15px;
    }
}